html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  display: inline-block;
}

textarea {
  resize: none;
}

button {
  display: block;
}