html, body {
  min-height: fit-content;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
}

main {
  margin: 1rem;
  padding: 1rem;
  /* background-color: #f0f0f0; */
  border-radius: 1rem;
  width: 70vw;
  box-sizing: border-box;
}

#buttons {
  margin: 0 1rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  box-sizing: border-box;
}

#buttons #sort-by {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#buttons #add-todo {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #fff;
}

#buttons #add-todo {
  background-color: rgb(62, 114, 255);
}

#buttons #add-todo:hover {
  background-color: rgb(51, 94, 212);
}

#buttons #add-todo:active {
  background-color: rgb(62, 114, 255);
}

/* Todos Styling */

#todos {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}

.todo {
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in;
}

.todo:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.todo > div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* Todos Typography */

.todo .info p {
  margin: 0;
  text-overflow: ellipsis;
  width: 40vw;
  white-space: nowrap;
  overflow: hidden;
}

.todo .info .category {
  font-size: 0.9rem;
}

.todo .info .task {
  font-size: 1.4rem;
}

.todo .info .date {
  font-size: 0.8rem;
}

/* Todos Button Styles */

.todo button {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 1.2rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 100;
  opacity: 0;
  transition: all 0.1s ease-in;
  color: white;
}

.todo button.delete {
  width: 1.2rem;
  border-radius: 100%;
}

.todo button.edit {
  width: 3rem;
  border-radius: 0.5rem;
}

.todo:hover button {
  opacity: 1;
}

.todo:hover button.delete {
  background-color: rgb(255, 64, 64);
}

.todo:hover button.delete:hover {
  background-color: rgb(219, 52, 52);
}

.todo:hover button.delete:active {
  background-color: rgb(255, 64, 64);
}

.todo:hover button.edit {
  background-color: rgb(62, 114, 255);
}

.todo:hover button.edit:hover {
  background-color: rgb(51, 94, 212);
}

.todo:hover button.edit:active {
  background-color: rgb(62, 114, 255);
}

/* Todo Checkbox Style */
.todo input[type=checkbox] {
  position: relative;
  width: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  appearance: none;
}

.todo input[type=checkbox]::after {
  position: absolute;
  content: 'x';
  color: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  width: 0.7rem;
  height: 0.3rem;
  border: none;
  opacity: 1;
  background-color: #fff;
  transform: rotate(0deg);
  transition: all 0.2s ease-in;
}

.todo input[type=checkbox]:checked::after {
  position: absolute;
  content: '';
  opacity: 1;
  background-color: inherit;
  border-bottom: 0.2rem solid green;
  border-left: 0.2rem solid green;
  transform: rotate(-45deg);
}

/* Modal Styles */
#modal-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}

#modal-form {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#modal-form h2 {
  margin-top: 0;
}

#modal-form form label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

#modal-form form label + label {
  margin-top: 0.5rem;
}

#modal-form form label input {
  width: 12.5rem;
}

#modal-form form button {
  margin-top: 0.5rem;
}

#modal-form form button {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  background-color: #fff;
}

#modal-form form button {
  background-color: rgb(62, 114, 255);
}

#modal-form form button:hover {
  background-color: rgb(51, 94, 212);
}

#modal-form form button:active {
  background-color: rgb(62, 114, 255);
}

@media screen and (max-width: 700px) {
  main {
    width: 90vw;
  }
}

@media screen and (max-width: 400px) {
  main {
    width: 100vw;
  }
  .todo button {
    height: 1.2rem;
    padding: 0.8rem;
    font-size: 0.8rem;
  }

  .todo .info .category {
    font-size: 0.8rem;
  }
  
  .todo .info .task {
    font-size: 1.2rem;
  }
  
  .todo .info .date {
    font-size: 0.7rem;
  }
}